.no-support-message {
	display: none;
}

.impress-not-supported .no-support-message {
	display: block;
}

/* additional styles just to make things look a bit nicer */
body {
	background: #EBEBEB;
	font: 16px/24px "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
}

.step {
	width: 940px;
	margin: 0 auto 24px auto;
	text-align: center;
}

a,a:visited,a:active {
	color: #1a80e5;
}

strong {
	color: #F846A1;
}
.warning {
	font-size: smaller;
	padding: .3em;
	background-color: #f8ee48;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	letter-spacing: 4px;
}

.last-footer{
	-moz-transform: rotate(-90deg);
	-moz-transform-origin:right bottom; 
	position: absolute;
	right: 0px;
	top: 0;
}

.mail{
	text-align: left;
	font-size: 30pt;
	position: absolute;
	bottom: 0;
	letter-spacing: 4px;
}
.active .rotating {
    -moz-transform: rotate(-10deg);
    -moz-transition-delay: 2s;
}

.active .swing {
	-moz-animation: 2s ease 1.5s normal none infinite swing;
    -moz-transform-origin: center center;
    -moz-transition-delay: 1.5s;
    -webkit-animation:swing 2s infinite ease-in-out;
    -webkit-transform-origin:center;
    
}

@-moz-keyframes swing {
 0% {
   -moz-transform: rotate(5deg);
 }
 50% {
   -moz-transform: rotate(-5deg);
 }
100%{
   -moz-transform: rotate(5deg);
 }
}

.list p {
	text-align: left;
	border-bottom: solid lightgray 2px;
	overflow: auto;
	line-height: 64px;
}

.list td {
	text-align: left;
	vertical-align: top;
}

code{
	display: block;
}
.code{
	text-align: left;
	font-size: smaller;
}

.code-comment{
	color: #249E03;
	font-weight: bold;
}


.list tr {
	border-bottom: solid 1px gray;
}

li {
	text-align: left;
	line-height: 1.6em;
	text-decoration: none;
	list-style: none;
}

.hint {
	font-size: large;
}

.slide {
	position: relative;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	color: #666666;
	display: block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
	height: 500px;
	letter-spacing: -1px;
	line-height: 36px;
	padding: 40px 60px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	width: 900px;
}

.slide .box {
	width: 400px;
	border-radius: 10px 10px 10px 10px;
	border: solid 4px gray;
	padding: .5em;
}

.slide-trasparent {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.slide-servizi{
	width: 800px;
}


.big {
	
}

.big .title {
	font-size: 81px;
	font-weight:  bold;
}

.title-servizi{
	font-size: 121px;
	font-weight:  bold;
	letter-spacing: 40px;
}
.footer {
	clear: both;
	overflow: hidden;
	font-size: smaller;
	padding: .5em;
	position: absolute;
	bottom: 0;
}

.footer-logo-small {
	position: absolute;
	bottom: 5px;
	right: 5px;
}